@import '../../assets/styles/global';

.HotTopic {
  &-title {
    font-weight: 800;
    color: $white;
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
  }

  &-description {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: rgba($white, 0.5);
    margin-bottom: 5rem;
  }

  &-wrapper {
    &-item {
      &:first-child {
        flex: 0 0 calc(100% / 3 * 2);
        max-width: calc(100% / 3 * 2);
      }

      &:last-child {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
      }

      &.iframe {
        padding: 0 1.6rem;

        @media (max-width: 768px) {
          margin-top: 9rem;
          padding: 0;
        }
      }

      @media (max-width: 768px) {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
    }
  }

  &-carousel {
    position: relative;
    margin: -1.6rem;

    &-item {
      padding: 1.6rem;

      &-card {
        &:hover {
          .HotTopic-carousel-item-card {
            &-image {
              img {
                transform: scale(1.1);
              }
            }

            &-title {
              color: $spring-green;
            }
          }
        }

        &-image {
          margin-bottom: 3rem;
          overflow: hidden;
          border-radius: 1rem;

          img {
            width: 100%;
            transition: $common-transition;
          }
        }

        &-title {
          color: $white;
          font-weight: 600;
          font-size: 1.4rem;
          transition: $common-transition;
        }

        &-description {
          font-size: 1.4rem;
          font-weight: 600;
          color: rgba($white, 0.5)
        }
      }
    }

    .Carousels {
      &-arrow {
        position: absolute;
        top: calc(100% + 6rem);
        right: unset;

        @media (max-width: 768px) {
          top: unset;
          bottom: -4rem;
          transform: translateX(-50%);
        }

        &.prev {
          left: 1.6rem;

          @media (max-width: 768px) {
            left: calc(50% - 3.2rem);
          }
        }

        &.next {
          left: calc(1.6rem + 1.6rem + 3.2rem);

          @media (max-width: 768px) {
            left: calc(50% + 3.2rem);
          }
        }
      }
    }
  }

  &-iframe {
    padding: 1.6rem;
    border-radius: .8rem;
    overflow: auto;
    height: 40rem;
    border: 1px solid $white;
  }
}