@import '../../assets/styles/global';

.Documents {
  position: relative;

  &-background {
    @include styleBackground;
  }

  &-title {
    font-weight: 800;
    color: $white;
    text-align: center;
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
  }

  &-description {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10rem;
    color: rgba($white, 0.5);
  }

  &-carousel {
    margin: -6rem -1.8rem;

    &-item {
      padding: 6rem 1.8rem;
      cursor: pointer;

      &-card {
        position: relative;
        padding: 2.6rem;
        background: $scorpion;
        border-radius: .8rem;
        border: 1px solid rgba($silver, 0.2);

        &-title {
          font-size: 2.4rem;
          text-align: center;
          color: $white;
          font-weight: 800;
          margin-top: 3.4rem;
        }

        &-image {
          width: 10rem;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: gem 3s infinite;

          @keyframes gem {

            0%,
            100% {
              transform: translate(-50%, -50%);
            }

            25% {
              transform: translate(-50%, -55%);
            }

            75% {
              transform: translate(-50%, -45%);
            }
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}