@import '../../assets/styles/global';

.Systems {
  position: relative;
  margin-bottom: 16rem;

  @media (max-width: 991px) {
    margin-bottom: 8rem;
  }

  &-background {
    @include styleBackground;

    img {
      object-position: bottom center;
    }
  }

  &-title {
    font-weight: 800;
    color: $white;
    text-align: center;
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
  }

  &-description {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6rem;
    color: rgba($white, 0.5);
  }

  &-image {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    animation: rotate 5s ease infinite;
    min-height: 70rem;

    @media (max-width: 991px) {
      min-height: auto;
    }

    @keyframes rotate {

      0%,
      100% {
        transform: translateY(-3rem) rotate(0);
      }

      25% {
        transform: translateY(-3rem) rotate(-2deg);
      }

      75% {
        transform: translateY(-3rem) rotate(2deg);
      }
    }

    &-item {
      width: fit-content;

      &-number {
        font-size: 1.4rem;
        font-weight: 600;
        color: rgba($white, 0.5);
      }

      &-title {
        font-size: 2.4rem;
        font-weight: 800;
        color: $white;
        margin-bottom: 1.6rem;
      }

      img {
        width: 100%;
        display: block;
      }

      &.item-1,
      &.item-2,
      &.item-3,
      &.item-4,
      &.item-5,
      &.item-6 {
        position: absolute;
        top: 50%;
        left: 50%;

        @media (max-width: 991px) {
          display: none;
        }
      }

      &.item-1,
      &.item-2,
      &.item-3 {
        text-align: right;
      }

      &.item-1 {
        transform: translate(-180%, -180%);

        img {
          max-width: 13.6rem;
        }
      }

      &.item-2 {
        transform: translate(-270%, -50%);

        img {
          max-width: 13.6rem;
        }
      }

      &.item-3 {
        transform: translate(-170%, 80%);

        img {
          max-width: 21.3rem;
        }
      }

      &.item-4 {
        background: $shark;
        transform: translate(80%, -130%);

        img {
          max-width: 11.1rem;
          mix-blend-mode: screen;
        }
      }

      &.item-5 {
        transform: translate(170%, 0%);

        img {
          max-width: 7.5rem;
        }
      }

      &.item-6 {
        transform: translate(50%, 130%);

        img {
          max-width: 9.3rem;
        }
      }

      &.main {
        img {
          max-width: 37.5rem;
        }
      }
    }
  }

  &-products {
    display: none;

    @media (max-width: 991px) {
      display: block;
      margin: 0 -1.6rem;
    }

    &-item {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 1.6rem;
      margin-bottom: 3rem;

      &-number {
        font-size: 1.4rem;
        font-weight: 600;
        color: rgba($white, 0.5);
      }

      &-title {
        font-size: 2.4rem;
        font-weight: 800;
        color: $white;
        margin-bottom: 1.6rem;
      }

      img {
        width: 100%;
        display: block;
      }

      &.item-1 {
        img {
          max-width: 13.6rem;
        }
      }

      &.item-2 {
        img {
          max-width: 13.6rem;
        }
      }

      &.item-3 {
        img {
          max-width: 21.3rem;
        }
      }

      &.item-4 {
        &>div {
          background: $shark;
        }

        img {
          max-width: 11.1rem;
          mix-blend-mode: screen;
        }
      }

      &.item-5 {
        img {
          max-width: 7.5rem;
        }
      }

      &.item-6 {
        img {
          max-width: 9.3rem;
        }
      }
    }
  }
}