@import '../../assets/styles/global';

.NftDetail {
  &-wrapper {
    margin: 0 -0.8rem;

    &-item {
      padding: 0 0.8rem;

      @media (max-width: 768px) {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }

      &.full {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &:nth-child(1) {
        flex: 0 0 40%;
        max-width: 40%;
      }

      &:nth-child(2) {
        flex: 0 0 60%;
        max-width: 60%;
      }
    }
  }

  &-group-title {
    margin-bottom: 2.4rem;

    @media (max-width: 991px) {
      display: none;
    }

    &.mobile {
      display: none;


      @media (max-width: 991px) {
        display: block;
      }
    }
  }

  &-card {
    position: relative;
    padding: 1.8rem 2.4rem;
    border: 1px solid $white;
    border-radius: 1.6rem;
    margin-bottom: 1.6rem;
    min-height: 20rem;

    &-filter {
      .Select {
        margin: 0 -11px;
      }
    }

    &-title {
      font-size: 2.4rem;
      font-weight: 800;
      color: $white;
      margin-bottom: 1.2rem;
    }

    .line {
      margin: 1.8rem -2.4rem;
      height: 1px;
      background: $white;
    }

    &-table {
      margin: 0 -0.6rem;
      overflow: auto;
      max-height: 28rem;

      table {
        width: 100%;

        td {
          font-size: 1.4rem;
          font-weight: 600;
          color: $white;
          padding: .6rem;
          white-space: nowrap;

          span {
            color: $electric-violet;
          }

          .Icon {
            flex: 0 0 1.6rem;
            max-width: 1.6rem;
            margin-right: .4rem;
            margin-bottom: .4rem;
          }
        }
      }
    }
  }

  &-image {
    padding: 2.4rem 1.6rem;

    img {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-favorites {
    cursor: pointer;
    position: absolute;
    top: 1.8rem;
    right: 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: $white;
    user-select: none;

    .Icon {
      margin-left: .8rem;
      margin-bottom: .3rem;
      flex: 0 0 2rem;
      max-width: 2rem;
    }
  }

  &-subtitle {
    font-size: 2.4rem;
    font-weight: 800;
    color: $white;
    margin-bottom: 1.8rem;

    @media (max-width: 768px) {
      margin-bottom: 0rem;
    }
  }

  &-title {
    font-size: 4.8rem;
    font-weight: 800;
    color: $white;
    margin-bottom: 1.6rem;

    @media (max-width: 768px) {
      margin-bottom: 1.2rem;
    }
  }

  &-row {
    padding: .6rem 0;
  }

  &-tags {
    margin-bottom: -1.6rem;

    &-item {
      padding: .6rem 1.6rem;
      border-radius: 3rem;
      border: 1px solid $white;
      color: $white;
      font-size: 1.4rem;
      font-weight: 600;
      margin: 0 1.6rem 1.6rem 0;
      transition: $common-transition;

      &.active {
        background: $orange-peel;
      }
    }
  }

  &-text {
    font-size: 1.4rem;
    font-weight: 600;
    color: $white;

    span {
      padding-left: .4rem;
      font-weight: 600;
      color: $electric-violet;
    }
  }

  &-countdown {
    &-text {
      font-size: 1.4rem;
      font-weight: 600;
      color: $white;
    }

    &-timer {
      margin-top: .8rem;

      &-item {
        margin-right: 2rem;
        font-size: 2.4rem;
        font-weight: 800;
        color: $white;
      }
    }
  }

  &-price {
    &-text {
      font-size: 2.4rem;
      font-weight: 800;
      color: $white;

      strong {
        font-size: 4.8rem;
      }
    }

    &-value {
      .Icon {
        flex: 0 0 4rem;
        max-width: 4rem;
        height: 4rem;
        margin-right: .8rem;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      strong {
        margin-right: .8rem;
      }
    }

    &-actions {
      &-btn {
        margin-right: 2.4rem;
        box-shadow: 0px 0px 16px rgba($black, 0.16);
        border-radius: .8rem;
        font-size: 1.4rem;
        color: $white;
        line-height: 1;
        padding: 2.5rem 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid $white;
        background: transparent;

        &.gradient {
          border: none;
          background: linear-gradient(279.09deg, #6631E3 0%, #19A8FE 100%);
        }

        .Icon {
          margin-left: .4rem;
        }
      }
    }
  }

  &-collections {
    margin: 0 -0.8rem;

    &-item {
      padding: 0 0.8rem;
    }
  }
}