@import '../../assets/styles/global';

.ProjectCommunities {
  &-title {
    font-weight: 800;
    color: $white;
    text-align: center;
    font-size: 4.8rem;
    margin-bottom: 5rem;

    @media (max-width: 575px) {
      font-size: 3.6rem;
      margin-bottom: 3rem;
    }
  }

  &-carousel {
    margin: 0 -1.5rem;

    &-item {
      padding: 0 1.5rem;

      img {
        width: 100%;
      }
    }
  }
}