@import '../../assets/styles/global';

.MyOffers {
  padding: 3.6rem 0;

  &-card {
    position: relative;
    padding: 1.8rem 2.4rem;
    border: 1px solid $white;
    border-radius: 1.6rem;
    margin-bottom: 1.6rem;
    min-height: 20rem;

    &-table {
      margin: 0 -0.6rem;
      overflow: auto;
      max-height: 28rem;

      table {
        width: 100%;

        td {
          font-size: 1.4rem;
          font-weight: 600;
          color: $white;
          padding: .6rem;
          white-space: nowrap;

          span {
            color: $electric-violet;
          }

          .Icon {
            flex: 0 0 1.6rem;
            max-width: 1.6rem;
            margin-right: .4rem;
            margin-bottom: .4rem;
          }
        }
      }
    }
  }

  &-cancel {
    padding: .8rem 1.2rem;
    border: 1px solid $white;
    border-radius: .8rem;
    width: fit-content;
    color: $white;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
  }
}